* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* -------------------- */

.gridContainer {
    display: grid;
    grid-template-rows: [y0]0.5fr [y1]3fr [y2]0.5fr [y3];

    width: 100%;
    height: 100vh;

    
}

/* -------------------------HEADER--------------------- */
.header {
    grid-row: y0 / y1;

    color: white;
    font-size: x-large;
    text-align: center;

    background-color: black;
    padding: 10px 10px 10px 10px;
}

/* -------------------------MAIN--------------------- */

.main {
    grid-row: y1 / y2;

    display: grid;
    grid-template-columns: [x0]3fr [x1]1fr [x2];
}

/* -----------------MAIN - CONTENIDO ---------------- */

.contenido {
    
    grid-column: x0/x1;

    display: grid;
    grid-template-rows: [y0]1fr [y1]2fr [y2];
    grid-template-columns: [x0]1fr [x1]1fr [x2];

    background-color: blue;
    padding: 10px 10px 10px 10px;
    gap:10px;

}

.contenido_contenido {
    grid-column: x0/x2;
    grid-row: y0/y1;

    color: white;
    font-size: x-large;
    text-align: center;

    border: 1px solid white;

}

.texto1 {
    grid-column: x0/x1;
    grid-row: y1/y2;

    color: white;
    font-size: x-large;
    text-align: center;

    border: 1px solid white;

}

.texto2 {
    grid-column: x1/x2;
    grid-row: y1/y2;

    color: white;
    font-size: x-large;
    text-align: center;

    border: 1px solid white;

}

/* -----------------MAIN - MENU ---------------- */

.menu {
    grid-column: x1/x2;

    display: grid;
    grid-template-rows: [y0]1fr [y1]1fr [y2]1fr [y3] 1fr [y4];

    background-color: turquoise;
    padding: 10px 10px 10px 10px;
    gap:10px;

}

.menu_menu {
    grid-row: y0/ y1;

    color: white;
    font-size: x-large;
    text-align: center;

    border: 1px solid black;
}

.menu_menu1 {
    grid-row: y1/ y2;

    color: white;
    font-size: x-large;
    text-align: center;

    background-color: black;
}

.menu_menu2 {
    grid-row: y2/ y3;

    color: white;
    font-size: x-large;
    text-align: center;

    background-color: black;
}

.menu_menu3 {
    grid-row: y3/ y4;

    color: white;
    font-size: x-large;
    text-align: center;

    background-color: black;
}

/* -------------------------FOOTER--------------------- */

.footer {
    grid-row: y2 / y3;

    display: grid;
    grid-template-columns: [x0]2fr [x1]2fr [x2];

    background-color: blueviolet;
    padding: 10px 10px 10px 10px;
    gap:10px;
}

.footer_footer {
    grid-column: x0/x1;

    color: white;
    font-size: x-large;
    text-align: center;

    border: 1px solid black;
}

.footer_contacto {
    grid-column: x1/x2;

    color: white;
    font-size: x-large;
    text-align: center;

    border: 1px solid black;
}