* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* -------------------- */

.gridContainer{ 
    display: grid;

    grid-template-columns: [x0]1fr [x1]1fr [x2]1fr [x3]1fr  [x4] ;
    grid-template-rows: [y0]1fr [y1]2fr [y2]1fr [y3]1fr [y4];
}
.header {
    grid-column-start: x0;
    grid-column-end: x4;

    grid-row-start: y0;
    grid-row-end: y1;
    
    background-color: rgb(2, 8, 15);
    color: white;
    font-size: x-large;
    text-align: center;
}
.contenido{

    grid-column: x0 / x3;
    grid-row: y1 / y3;
    

    background-color:rgb(10, 34, 247);
    color: white;
    font-size: x-large;
    text-align: center;
}
.contenido_contenido{
    border:1px solid black;
}
.texto1, .texto2{
    border:1px solid black;
}


.menu{
    grid-column: x3 /x4;
    grid-row: y1 / y3;

    background-color: rgb(54, 214, 166);
    color: white;
    font-size: x-large;
    text-align: center;
}
.menu_menu{
    border:1px solid black;
}

.menu_menu1, .menu_menu2, .menu_menu3{
    background-color: black;
}


.footer {
    grid-column: x0 / x4;
    grid-row: y3 / y4;
    background-color: rgb(110, 8, 206);
    color: white;
    font-size: x-large;
    text-align: center;
}

.footer_footer, .footer_contacto{
    border:1px solid black;
}